html,
body { height: 100%; }

.heading { font-size: 6rem; }

ul { /* Removing padding added by Chrome */
    -webkit-padding-start: 0; 
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}  

ul,
ol {
    margin-top: 13px;
}

.center-text { text-align: center; }

img.center {
    display: block;
    margin: 0 auto;
    padding-top: 5px;
}

.title {
    width: 100%;
    text-align: center;
    color: rgb( 255, 255, 255 );    
    h1 { 
        font-size: 5.6em; 
        margin-top: 0;
    }
    h3 { font-size: 3.6rem; }
} 

.logo { width: 100px; }

#about,
#resume { background-color: rgb( 49, 84, 145 ); }

#about img {
    border: 1px solid rgb( 162, 162, 162 );
    max-width: 225px;
    width: 100%;
    padding: 3px;
    display: block;    
}

#portfolio { 
    background: url("../img/portfoliobkg.png");
    background-attachment: fixed;
    background-size: cover;
    figure {
        text-align: center;
        font-weight: bold;
        margin: 5px;
    }
}

.portfolio-item {
    background-color: rgba(23, 23, 68, 0.9);
    padding: 40px 20px 40px 20px;
    margin-bottom: 2rem;
    a { color: rgb( 189, 224, 255 ); }
}

.portfolio-item-image {
    box-shadow: 4px 4px 10px rgb( 0, 0, 0 );
    max-width: 100%;
    margin-bottom:3px;
    margin-left: auto;
    margin-right: auto;
}

.main-nav { 
    text-align: center; 
    margin-left: 5px;
    margin-right: 5px;
}

nav ul li { display: block; }

a.btn { 
    border: 1px solid rgb( 255, 255, 255 );
    text-transform: uppercase;
    font-weight: bold;
    color: rgb( 255, 255, 255 );
    padding: 0.5em 1em;	
    display: block;
    margin-bottom: 5px;
    border-radius: 0;
    &:hover { 
        color: rgb( 0, 0, 0 );
        background: rgb( 255, 255, 255 );
    }
}

main {
    color: rgb( 255, 255, 255 );
    font-family: 'PT Sans', sans-serif; 
    font-size: 2rem;
}

#skills {
    background-color: rgb( 49, 127, 221 );
}

.skill-item {
    
}

.flip-container { 
    -webkit-perspective: 1000;
       -moz-perspective: 1000;
         -o-perspective: 1000;
            perspective: 1000; 
         -moz-transform: perspective(1000px);
   -moz-transform-style: preserve-3d;
    width: 100%;
}

.flip-container:hover .flipper, 
.flip-container.hover .flipper {
    -webkit-transform: rotateX(180deg);
       -moz-transform: rotateX(180deg);
         -o-transform: rotateX(180deg);
            transform: rotateX(180deg);
}

.flip-container, 
.front, 
.back {
    margin-bottom: 20px;
    height: 150px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    position: relative;
    transform-origin: 100% 75px;
    text-align: center;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
   
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;
    
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
            transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    background-color: rgb( 221, 160, 49 );
}

.back { 
    -webkit-transform: rotateX(180deg);
       -moz-transform: rotateX(180deg);
         -o-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);    
            transform: rotateX(180deg); 
    background-color: rgb( 144, 94, 3 );
}

.skill-text {
    margin: auto;
}

#resume h1 + p {
	border-bottom: 1px solid #fff;
	padding-bottom: 3px;
}

#resume a {
    color: rgb( 255, 255, 255 );
    &:hover { color: rgb( 255, 255, 255 ); }
}

#resume h3.jobtitle, 
h3 p {
	padding-left: 2em;
}

#resume ul { margin-left: 25px; }

#contact {
	background-color: rgb( 15, 39, 68 );
	min-height: 10em;
    ul { list-style: none; }
}

.phone,
.email {
    font-size: 2rem;
    padding: 40px 0 30px 55px;    
}    

.phone {
	background: url('../img/phone.svg') left no-repeat;
    background-size: 40px;
}

.email {
	background: url('../img/email.svg') left no-repeat;
    background-size: 45px;
}
	
footer {
	padding: 10px;
    background: linear-gradient(rgb( 161, 161, 216 ), rgb( 85, 85, 136 ));
    min-height: 10rem;
}

#social_icons ul li {
	display: inline-block;
	padding-right: 1em;
}


/*	Media Queries
**************************************/

@media screen and (min-width: 768px) {
    .left { float: left; }

    .right { float: right; }
    
    header { height: 100%; }
    
    .logo { width: initial; }
    
    .main-nav { 
        margin: 0 auto 0 auto; 
        position: absolute;
        top: 15px;
        right: 0;
    }
    
    nav { margin: 0; }

    nav ul li { 
        margin-right: 1.5em;
        margin-bottom: 5px;
        display: inline-block; 
        width: 8em;
    }
    
    .title {
        h1 { margin-top: 20px; }
        h3 { font-size: 4.6em; }
    }
    
    #about,
    #portfolio,
    #skills,
    #resume,
    #contact {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

   .portfolio-item {
        margin-bottom: 5rem;
    }    

    a.btn {
        -webkit-transition: background 0.3s ease-in-out; 
    	        transition: background 0.3s ease-in-out;
    }
    
    .container { 
        width: 85%;
        margin: 0 auto;
    }


    .full-screen,
    .content-a {
        width: 100%;
        min-height: 100%;
    }

    .not-fullscreen,
    .not-fullscreen .content-a,
    .fullscreen.not-overflow,
    .fullscreen.not-overflow .content-a {
        height: 100%;
        overflow: hidden;
    }

    .content-a { display: table; }

    .content-b {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        text-align: center;
    }

    .background {
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }


    #portfolio figure { width: 35%; }
    
    .flip-container { 
        width: 48%; 
        margin-right: 20px;
        &:nth-child(even) { margin-right: 0; }
    }
    

    .phone,
    .email {
        font-size: 3rem;
        margin-left: 1.5em;
        padding: 40px 0 30px 150px;    
    }    

    ul { -webkit-padding-start: 40px; }
    
    #social_icons img {
        opacity: 0.6;
	    -webkit-transition: opacity 0.3s ease-in-out;
                transition: opacity 0.3s ease-in-out;
        &:hover { opacity: 1; }
    }
}

@media screen and (min-width: 1025px) {
    .background { background-attachment: fixed; }   

    .portfolio-image-item { 
        width: initial; 
        max-width: initial; 
    }
    
    .portfolio-item {
        margin-bottom: 8rem;
    }
    
    .container {
        width: 70%;
    }
}

/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:100%;
	background:url(../img/ui.totop.png) no-repeat left -50px;
}

#toTopHover {
	background:url(../img/ui.totop.png) no-repeat left top;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	     opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}