html { font-family: 'Droid Sans', sans-serif; }

.heading { font-family: 'Droid Serif', serif; }

body { 
    margin: 0; 
}

ul { -webkit-padding-start: 0; }

.left { float: left; }

.right { float: right; }

.content { 
    padding-top: 1em;
    padding-bottom: 1em;
}  

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}

header { padding: 10px; }

.title { color: #fff; }

.logo { 
    width: 15%; 
    float: left;
    max-width: 60px;
    max-height: 83px;
    margin-right: 2px;
}

#portfolio { background-color: #ffe6C2; }

.portfolio-item {
    border-bottom: 1px solid #fefefe;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    box-shadow: 0 13px 12px -12px #aa9797;
}

.corporatix { 
    padding: 20px;
}

#portfolio figure {
    color: #000;
    text-align: center;
    font-weight: bold;
}

.portfolio-item img {
    box-shadow: 4px 4px 10px #000;
    margin-bottom:3px;
}

.sixrevisions {
    padding: 20px;
}

.title h1 { font-size: 2.6em; }

.title h3 { text-align: center; }

.main-nav { 
    text-align: center; 
    margin-left: 5px;
    margin-right: 5px;
}

nav ul { -webkit-padding-start: 0; }  /* Removing padding added by Chrome */

nav ul li { display: block; }

a.btn { 
    border: 3px solid #fff;
    font-size: 1.2em;
    color: #fff;
    padding: 0.5em 1em;	
    display: block;
    margin-bottom: 5px;
}

a.btn:hover {
	color: #000;
	background: #fff;
}

ul,
ol {
    margin-top: 13px;
}

header,
footer {
	background-color: #558;
    min-height: 6.3em;
}

#resume {
	background-color: #e7f3fd;
}

#resume h1 + p {
	border-bottom: 1px solid #fff;
	padding-bottom: 3px;
}

#resume h3.jobtitle, 
h3 p {
	padding-left: 2em;
}

#resume ul { margin-left: 25px; }

#contact {
	background-color: #c0d8f6;
	min-height: 10em;
}

#contact ul { list-style: none; }

.phone,
.email {
    font-size: 2rem;
    padding: 40px 0 30px 55px;    
}    

.phone {
	background: url('../img/phone.svg') left no-repeat;
    background-size: 40px;
}

.email {
	background: url('../img/email.svg') left no-repeat;
    background-size: 45px;
}
	
footer {
	margin-top: 0;
	height: 8em;
	color: #000;
	line-height: 1.9em;
	bottom: 0;
	padding: 10px;
}

#social_icons ul li {
	display: inline-block;
	padding-right: 1em;
}



/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:100%;
	background:url(../img/ui.totop.png) no-repeat left top;
}

#toTopHover {
	background:url(../img/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}


/*	Media Queries
**************************************/

@media screen and (min-width: 1000px) {
    .main-nav { float: right; }
}

@media screen and (min-width: 768px) {
    header { padding: 50px; }
    
    .logo { 
        width: 100px;
        margin-right: 20px;
    }

    .title { float: left; }
    
    .main-nav { 
        margin: 30px auto 0 auto;

    }
    
    nav ul li { 
        margin-right: 1.5em;
        display: inline-block; 
        width: 8em;
        margin-bottom: 5px;
    }

    .content { padding: 5em; }   

    #logo { margin: 0; }

    a.btn {
        -webkit-transition: background 0.3s ease-in-out; 
    	    transition: background 0.3s ease-in-out;
    }
    
    .content { padding: 3.6em; }

    .container { 
        width: 70%;
        margin: 0 auto;
    }

    .phone,
    .email {
        font-size: 3rem;
        margin-left: 1.5em;
        padding: 40px 0 30px 150px;    
        }    

    ul { -webkit-padding-start: 40px; }

    #social_icons img {
    opacity: 0.7;
	-webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
    }

    #social_icons img:hover { 
        opacity: 1; 
        box-shadow: 0 0 15px #fff;
    }

}