html {
	font-family: 'Droid Sans', sans-serif;
}

h1, ul {
-webkit-margin-before: 0;
}

p, ul {
-webkit-margin-after: 0;
}

#logo {
	background: url("../img/logo.png") no-repeat;
	background-size: contain;
	margin: 0 auto;
	height: 6.34em;
	width: 18.75em;
}

h1 , h3{
	font-family: 'Droid Serif', serif;
}

nav {
	line-height: 4.0em;
	text-align: center;
}

nav ul li { 
	text-decoration: none;
	list-style-type: none;
    margin-right: 1.5em;
}

nav ul li a { 
    border: 1px solid #fff;
    color: #fff;
        padding: 1em 1.5em;	
	transition: background 0.3s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out; 
}

nav ul li a:hover {
	color: #000;
	background: #fff;
	text-decoration: none;
}

body {
	margin: 0;
	background-color: #ccc;
}

.content {
	padding: 5em;
}


header, footer {
	background-color: #555;
}

#main {
	background-color: #ccc;
}

#about {
	background-color: #ecf0f1;
	
}


#resume {
	background-color: #95a5a6;
}

#resume h1 + p {
	border-bottom: 1px solid #fff;
	padding-bottom: 3px;
}

#resume h3.jobtitle, h3 p {
	padding-left: 2em;
}

#contact {
	background-color: #7f8c8d;
	min-height: 10em;
}

#phone_contact {
	list-style-image: url('../img/phone.png');
}

#email_contact {
	list-style-image: url('../img/email.png');
}

#phone_contact a ,#email_contact  a {
	text-decoration: none;
}
	
footer {
	margin-top: 0;
	height: 8em;
	color: #000;
	line-height: 1.9em;
	bottom: 0;
	padding: 10px;
}

#social_icons ul li {
	display: inline-block;
	padding-right: 1em;
}

#social_icons img {
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}

#social_icons img:hover {
    opacity: 1;
}


/*	Media Queries
**************************************/

@media only screen and (min-width: 768px) {
	nav ul li { display: inline-block; }
	
	}