nav ul {
	text-align: center;
}

nav ul li {
	display: inline;
	padding-right: 2em;
	top: 1em;
}

nav ul li a{
	color: white;
}

nav ul li a {
	text-decoration: none;
}

#logo {
	height: 5em;
	height: 5em;
	width: 20em;
}

#container {
	width: 80%;
	margin: auto;
}

body:before {
	content: "";
	background-color: black;
	height: 0.625em;
	display: block;
}

body {
	margin: 0;
	background-color: #34495e;
}

nav, footer {
	background-color: #2c3e50;
	height: 2em;
	color: white;
	line-height: 1.9em;
}

#container {
	background-color: #95a5a6;
	height: 30em;
}