html {
	font-family: 'Droid Sans', sans-serif;
}

#logo {
	background: url("img/logo.png") no-repeat;
	background-size: contain;
	margin: 0 auto;
	height: 7.375em;
	width: 18.75em;
}

nav {
	margin-top: 0;
	height: 4em;
	color: white;
	line-height: 4.0em;
}

nav ul {
	text-align: center;
	margin-top: 0;
}

nav ul li {
	display: inline;
	padding-right: 2em;
	margin-bottom: 10px;
}

nav ul li a{
	color: white;
	padding: 22px;
	text-decoration: none;
}

nav ul li a:hover {
	color: black;
	background-color: white;
}

body {
	margin: 0;
	background-color: #ccc;
}


#header, footer {
	background-color: #555;
}

#main {
	background-color: #ccc;
}

#container {
	width: 75%;
	margin: auto;
	height: 30em;
	padding: 10px;
	background-color: #eee;
}

footer {
	margin-top: 0;
	height: 8em;
	color: black;
	line-height: 1.9em;
	bottom: 0;
	padding: 10px;
}

footer ul li {
	display: inline;
	padding-right: 1em;
}