html {
	font-family: 'Droid Sans', sans-serif;
}

#logo {
	background: url("img/logo.png") no-repeat;
	background-size: contain;
	margin: 0 auto;
	height: 6.34em;
	width: 18.75em;
}

h1 , h3{
	font-family: 'Droid Serif', serif;
}

nav {
	line-height: 4.0em;
	text-align: center;
}

nav a {
	padding: 1.4em;
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	color: black;
	background-color: #fff;
}

body {
	margin: 0;
	background-color: #ccc;
}


#header, footer {
	background-color: #555;
}

#main {
	background-color: #ccc;
}

#container, #resume {
	width: 75%;
	margin: auto;
	padding: 10px;
	background-color: #eee;
}

#resume h3.jobtitle, h3 p {
	padding-left: 2em;
}

#phone_contact {
	list-style-image: url('img/phone.png');
}

#email_contact {
	list-style-image: url('img/email.png');
}

#phone_contact a ,#email_contact  a {
	text-decoration: none;
}
	
footer {
	margin-top: 0;
	height: 8em;
	color: black;
	line-height: 1.9em;
	bottom: 0;
	padding: 10px;
}

#social_icons ul li {
	display: inline;
	padding-right: 1em;
}